<style>
  .background {
    background-color: lightgray;
    color: white;
    margin-top: 70px;
  }

  .padd {
    padding-top: 20px;
  }
  .table{
    width: 80%;
    display: contents;
  }
</style>
<div style="background-color: lightgray;">
  <!-- <div class="text-center background">
<h1 class="padd">All My Words</h1><h3>{{words.length}}</h3>
  
<ul class="list-group">
  <li 
      *ngFor="let word of words"
      class="list-group-item">
      {{ word.japanese }} --- {{ word.translation }} 
  </li>
</ul>
</div> -->
<div style="margin-left: 44%;">
  <h1>All My Words - length : {{words.length}}</h1>
</div>
<div style="margin-left: 38%;">
  <table mat-table class="table" >
<tr>
    <th mat-header-cell> Japanese </th>
    <th mat-header-cell> English </th>
  </tr>
  <tr *ngFor="let word of words">
    <td mat-cell> {{word.japanese}} </td>
    <td mat-cell> {{word.translation}} </td>
  </tr>
  </table>
</div>
</div>